<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coffeemember.mapper.MemberMapper">
    <!--테이블 생성-->
    <update id="createMemberTable" parameterType="MemberVO">
        create table member(
            id number primary,
            memberName varchar2(50)
        )
    </update>

    <!--데이터 생성-->
    <insert id="insertMemberData" parameterType="MemberVO">
        insert into member values(1, 'kim');
    </insert>

    <!--회원인지 아닌지 체크-->
    <select id="exitsByMemberName" parameterType="MemberVO" resultType="MemberVO">
        select * from where membername = #{membername}
    </select>
</mapper>
